.nav-bar {
  @include flex;
  @include flex_justify(space-between);
  flex-direction: column;
  padding: 32px;
  min-height: 100vh;
  width: 296px;
  box-sizing: border-box;
  background-color: var(--gray-100);
  .nav-bar__logo {
    @include bg-img;
    display: block;
    width: 151px;
    height: 40px;
    background-image: url('../../assets/images/logo-ANSWER.svg');
  }
  .nav-bar__list {
    .nav-bar__list-item {
      @include auto_margin_top(16px);
      @include ts;
      position: relative;
      padding: 4px 0 4px 0;
      box-sizing: border-box;
      &:hover {
        .nav-bar__item-link {
          color: var(--success);
        }
      }
      &.active {
        &::before {
          position: absolute;
          content: '';
          display: block;
          top: 0;
          left: -32px;
          width: 4px;
          height: 32px;
          background-color: var(--success);
        }
        .nav-bar__item-link {
          color: var(--success);
        }
      }
      .nav-bar__item-link {
        @include flex;
        @include flex_align;
        font-size: $base-font-size;
        line-height: $base-line-height;
        font-weight: bold;
        color: var(--gray-900);
      }
      .nav-bar__link-icon {
        margin-right: 16px;
      }
    }
  }
}
