.admin-card {
  @include flex;
  @include flex_align(flex-start);
  .admin-card__img {
    @include bg-img;
    height: 141px;
    flex: 141px 0 0;
  }
  .admin-card__content {
    @include auto_margin_left(24px);
    width: 100%;
    .admin-card__content-text {
      @include auto_margin_top(8px);
      font-size: $base-font-size;
      color: var(--gray-900);
      &.gray {
        font-size: $font-s;
        line-height: 17px;
        color: var(--gray-600);
      }
    }
    .admin-card__content-title {
      font-size: $font-xl;
      line-height: 29px;
      color: var(--gray-900);
    }
  }
}

.slide-button {
  @include flex;
  @include flex_align;
  padding: 0;
  width: 100%;
  .slide-button__text {
    padding: 4px 8px;
    font-size: $font-s;
    line-height: 17px;
    background-color: var(--gray-100);
    border-radius: 2px;
    color: var(--gray-900);
  }
  .slide-button__icon {
    @include ts;
    margin-left: auto;
    font-size: $font-xl;
    color: var(--success);
    &.active {
      transform: rotate(180deg);
    }
  }
}
