$base-font-size: 1rem;
$base-line-height: 1.5;
$font-xxl: $base-font-size * 2.25;
$font-xl: $base-font-size * 1.5;
$font-l: $base-font-size * 1.25;
$font-m: $base-font-size;
$font-s: $base-font-size * 0.875;

/* font size */
.text-sm {
  font-size: $base-font-size * 0.875;
}
.text-base {
  font-size: $base-font-size;
}
.text-lg {
  font-size: $base-font-size * 1.125;
}
.text-xl {
  font-size: $base-font-size * 1.25;
}
.text-2xl {
  font-size: $base-font-size * 1.5;
}
.text-3xl {
  font-size: $base-font-size * 2;
}
.text-4xl {
  font-size: $base-font-size * 2.25;
}
.text-5xl {
  font-size: $base-font-size * 2.625;
}
.text-6xl {
  font-size: $base-font-size * 3;
}
