.ans-button {
  @include flex_center;
  @include ts;
  padding: 8px 32px;
  box-sizing: border-box;
  border-radius: 2px;
  &:hover {
    .ans-button__icon {
      color: var(--gray-900);
    }
    .ans-button__text {
      color: var(--success);
    }
  }
  &.outline {
    border: 1px solid var(--success);
    border-radius: 2px;
    .ans-button__text {
      color: var(--success);
    }
    &:hover {
      background-color: var(--success);
      .ans-button__text {
        color: var(--white);
      }
    }
  }
  &.outline-gray {
    border: 1px solid var(--gray-400);
    border-radius: 2px;
    .ans-button__text {
      color: var(--success);
    }
    &:hover {
      background-color: var(--success);
      .ans-button__text {
        color: var(--white);
      }
    }
  }
  &.primary {
    border: 1px solid var(--success);
    border-radius: 2px;
    background-color: var(--success);
    .ans-button__text {
      color: var(--white);
    }
    &:hover {
      background-color: transparent;
      .ans-button__text {
        color: var(--success);
      }
    }
  }
  &.disabled {
    border: 1px solid var(--gray-400);
    cursor: not-allowed;
    .ans-button__text {
      color: var(--gray-400);
    }
  }
  &.danger {
    border: 1px solid var(--danger);
    .ans-button__text {
      color: var(--danger);
    }
  }
  .ans-button__icon {
    @include ts;
    font-size: $font-xl;
    color: var(--success);
  }
  .ans-button__text {
    @include ts;
    @include auto_margin_left(8px);
    font-size: $base-font-size;
    color: var(--gray-900);
  }
}
