.ans-table {
  .ans-table__head {
    border-bottom: 1px solid var(--gray-900);
    .ans-table__head-item {
      padding: 4.5px 8px;
      font-size: $base-font-size;
      line-height: 19px;
      font-weight: bold;
      color: var(--gray-900);
    }
    .ans-table__head-item__btn {
      cursor: pointer;
      .ans-table__head-item__btn-icon {
        font-size: 1.125rem;
        color: var(--success);
      }
    }
  }
  .ans-table__body {
    .ans-table__body-item {
      font-size: $base-font-size;
      line-height: 19px;
      color: var(--gray-900);
      border-bottom: 1px solid var(--gray-400);
      cursor: pointer;
      &:hover {
        background-color: var(--gray-100);
      }
      th,
      td {
        padding: 19px 8px 17px 8px;
        vertical-align: middle;
      }
    }
  }
}
