.ans-model {
  .ans-model-content {
    .ans-model-header {
      padding: 32px 32px 7.5px 32px;
      @include flex;
      @include flex_align;
    }
    .ans-model__title {
      font-size: $font-xl;
      font-weight: bold;
      color: var(--gray-900);
    }
    .ans-model__close-btn {
      @include ts;
      margin-left: auto;
      padding: 0;
      font-size: $font-xl;
      color: var(--gray-900);
      &:hover {
        color: var(--success);
      }
      &.small {
        position: absolute;
        top: 32px;
        right: 32px;
      }
    }
    .ans-model-body {
      position: relative;
      padding: 0 32px;
      &.only {
        padding: 32px;
      }
      .ans-model-body__content {
        padding: 24.5px 0;
        border-top: 1px solid var(--gray-400);
        &:first-child {
          border-top: none;
        }
        .ans-model-body__content-title {
          font-size: $font-l;
          line-height: 24px;
          font-weight: bold;
          color: var(--gray-900);
        }
      }
    }
    .ans-model-footer {
      padding: 16px 32px;
    }
  }
}
