.form-dropdown {
  position: relative;
  .form-dropdown__btn {
    @include flex;
    @include flex_align;
    padding: 14px 16px 13px 16px;
    border: 1px solid var(--gray-900);
    box-sizing: border-box;
    width: 100%;
    .form-dropdown__placeholder {
      font-size: $base-font-size;
      line-height: 19px;
      color: var(--gray-600);
    }
    .form-dropdown__icon {
      margin-left: auto;
      font-size: $font-xl;
      color: var(--gray-900);
    }
  }
  .dropdown-menu {
    width: 100%;
  }
}
