.form-input {
  .form-label {
    margin-bottom: 0;
    font-size: $font-s;
    line-height: 17px;
    color: var(--black);
  }
  .input-text {
    @include auto_margin_top(4px);
    width: 100%;
    padding: 16px;
    font-size: $base-font-size;
    line-height: 19px;
    color: var(--black);
    border: 1px solid var(--gray-900);
    box-sizing: border-box;
    &:disabled {
      border: none;
      background-color: var(--gray-100);
    }
    &:focus {
      border: 1px solid var(--success);
    }
  }
}
