.user-avatar {
  @include flex;
  .user-avatar__img {
    @include bg-img;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .user-avatar__content {
    .user-avatar__content-name {
      font-size: $base-font-size;
      line-height: 19px;
      font-weight: bold;
      color: var(--gray-900);
    }
    .user-avatar__content-text {
      @include auto_margin_top(4px);
      font-size: $font-s;
      line-height: 17px;
      color: var(--gray-600);
    }
  }
}
